<div>
<div style  = "background-image: url(<%=guide.img %>)"></div>
  <span class = "name">
     <a href = "">
        <%=current_user.nickname %>
     </a>
  </span>
    <p>
     <%= image_tag "#{guide.image}" %>
    </p>
    <a>
     <%= guide.text %>
     </a>
     <a><span>#</span>
      <%=guide.tag_list %>
     </a>
</div>





